@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";

body {
    margin: 0;
    padding: 0;
    font-family: Barlow;
    font-style: normal;
    overflow: scroll;
}

.navbar {
    background: #0099FF;
    width: 100%;
}

.hello h1{
    font-family: Barlow;
    font-style: normal;
    margin-left: 7rem;
}

 /* .btn {
     float: none;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    margin-top: 5rem;
    width: 10rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-75%);
    color: #0099FF;
    text-align: center;
    margin-bottom: 1rem;
  } */

  .btn{
    margin-top: 6.5rem;
    margin-right: 4rem;
    color: #0099FF;
  }

  /* .btn1 {
    float: none;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    margin-top: 5rem;
    width: 10rem;
    height: 3rem;
    margin-right: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(80%,-75%);
    color: #0099FF;
    background-color: transparent;
    border: 0px;
    text-align: center;
    margin-bottom: 1rem;
  } */

  /* .btn1{
    color: #0099FF;
    background-color: transparent;
    border: transparent;
  } */

  /* .box{
    width: 100%;
    position: absolute;
    top: 0%;
    margin-top: 3rem;
    margin-left: 3rem;
    width: 10rem;
    height: 24rem;
    background: transparent;
  } */

  .box-row{
    width: 240px;
    height: 30rem;
    margin-left: 8rem;
    margin-top: 4rem;
    background: #F3F3F3;    
    border-radius: 8px;
  }

  .box-row h1{
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    padding: 1rem;
    line-height: 95%;
    color: #0099FF;
  }

  .box-row h4{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    padding: 1rem;
    font-size: 24px;
    line-height: 95%;
    color: #666666;
  }

  .text{
    position: absolute;
    padding: 1rem;
    padding-top: 0rem;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 95%;
    color: #666666;
  }

  .recording{
    margin-top: 2rem;
    padding-left: 2rem;
    width: 100%;
    height: 1024px;
    background: #F3F3F3;
  }

  .small-heading{
    font-family: Barlow;
    font-style: normal;
    padding-left: 3rem;
    font-weight: 600;
    font-size: 36px;
    line-height: 95%;
  }

  .sub-recording{
    width: 90%;
    height: 75px;
    background-color: #FFFFFF;
  }

  .btn1{
    margin-top:1rem;
    background-color: transparent;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #007bff;
  }

  .sub-text{
      padding-left: 5rem;
    }
