body {
    font-family: sans-serif;
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
  }
.clock{
    padding-top: 10rem;
    font-family: sans-serif;
    display: grid;
    width: 100%;
    place-items: center;
}

.container{
    padding-top: 20px;
    width: 100%;
    height: fit-content;
    font-size: 20px;
}
.navbar{
    background: #0099FF;
    width: 100%;
} 
  .base-timer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 3px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 3px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 76px;
  }

  .format{
    align-items: center;
  }

  .fixed-bottom{
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    left: 0;
    top: 115px;
    bottom: 0;
    height: 11rem;
    text-align: center;
    width: 100%;
  }
  .dot {
    margin-top: 2.5rem;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgb(241, 13, 13);
    border-radius: 50%;
    margin-left: 80px;
    border: transparent;
    outline: transparent;
    display: inline-block;
  }

  /* .play{

  } */

  .paused{
    width: 45px;
    height: 45px;
    align-items: center;
    border-width: 45px;
    margin-left: 50px;
    background-color: transparent;
    border-color: rgb(241, 13, 13);
    border-radius: 0%;
    border-style: double;
    outline: transparent;
    border-width: 0px 0px 0px 37px;
  }

  .arrow{
    background: transparent;
    border: transparent;
    outline: transparent;
    color: rgb(216, 203, 203);
    width: 60px;
    height: 60px;
    font-size: 75px;
    /* margin-top: 1px; */
    margin-right: 70px;
  }